/*Broad Styling*/

  * {
    position: relative;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin:0;
  }

  body {
    background-color: #D5D5D5;
    font-family: "Antic Slab", sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    margin: 0 0 50px;
  }

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  padding-bottom:100px; /* Height of the footer element */
}


/*Font styling*/
  .font-thin {
    font-family: 'Antic Slab', serif;
    font-weight: 200;
  }

  .font-semibold {
    font-family: 'Antic Slab', serif;
    font-weight: 600;
  }

  .font-light {
    font-family: 'Antic Slab', serif;
    font-weight: 300;
  }

/*Welcome Page*/
  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 65px;
    padding-top: 50px;
    text-align: center;
  }

  /*Slide One: CodeupConnect*/
    #slide-1 {
      background-color: #022648;
      color: #ffffff;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
      background-attachment: relative;
      background-position: center center;
    }

    #slide-1 h1 {
      padding-top: 20%;
    }

    @media (max-width: 991px) {
      #slide-1 {
        background-position: -70% 0, 170% 0;
      }
    }

    @media (max-width: 767px) {
      #slide-1 {
        background-image: none;
      }
    }

    #home-row-1,
    #home-row-2 {
      padding-top: 25px;
    }
    
    #home-row-1 h1 {
      font-size: 54px;
    }
    
    #home-row-1 h4 {
      font-size: 32px;
    }
    
    #home-row-2 {
      font-size: 25px;
    }
    
    #home-row-2 .col-12 {
      height: 232px;
      padding-top: 30px;
      padding-left: 8%;
    }
    
    #home-row-2 .col-12 .home-hover {
      height: 166px;
      overflow: hidden;
      padding-top: 26px;
      transition: all ease-in .5s;
    }
    
    #home-row-2 .col-12 .home-hover:hover {
      height: 166px;
      padding-top: 0;
    }

    @media (max-width: 767px) {
      #home-row-1,
      #home-row-2 {
        padding-top: 16px;
      }
      
      #home-row-1 h1 {
        font-size: 35px;
      }
      
      #home-row-1 h4 {
        font-size: 21px;
      }
      
      #home-row-2 {
        font-size: 16px;
      }
    }

    /*Request Button*/
      .wrap {
        width: 50%;
        float: left;
      }

      [class^="btn-"] {
        position: relative;
        display: block;
        margin: 20px auto;
        margin-top: 5%;
        margin-bottom: 20%;
        width: 100%;
        height: 80px;
        max-width: 250px;
        text-transform: uppercase;
        overflow: hidden;
        border: 1px solid currentColor;
        text-decoration: none;
        line-height: 80px;
        background-color: #A1B290;
      }

      .btn-0 {
        color: black;
      }
      .btn-0:before {
        position: absolute;
        height: 80px;
        background: #A1B290;
      }
      .btn-0:hover {
        color: #022648;
        background: #D5D5D5;
      }
      .btn-0:hover:before {
        width: 250px;
      }
      .btn-0:active {
        background: #A1B290;
      }

  /*Slide Two: Mission*/
    #slide-2 {
      background-color: #A1B290;
      color: #e4e6e5;
      padding-top: 70px;
    }

      .title-row {
        font-size: 45px;
        padding-bottom: 30px;
      }
      
      .line-row .hr {
        background-color: #e4e6e5;
        height: 5px;
        margin: 0 auto;
        width: 33%;
      }
      
      .subtitle-row {
        font-size: 35px;
        padding-bottom: 40px;
        padding-top: 40px;
      }
      
      .content-row {
        padding-top: 45px;
      }

    @media (max-width: 767px) {
      .title-row {
        font-size: 34px;
        padding-bottom: 33px;
      }
      
      .subtitle-row {
        font-size: 26px;
        padding-bottom: 26px;
        padding-top: 26px;
      }
      
      .content-row {
        padding-top: 29px;
      }
      
      .content-row h2 {
        font-size: 24px;
        padding-bottom: 26px;
      }
      
      .content-row h4 {
        font-size: 20px;
      }
    }

  /*Slide Three: Portfolio*/
    #slide-3 {
      background-color: #A1B290;
      color: #e4e6e5;
      padding-top: 90px;
    }

  /*Slide Four: Featured Freelancers*/
    #slide-4 {
      background-color: #D5D5D5;
      color: grey;
      padding-top: 90px;
    }

/*Navigation Bar*/

  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-header>a:hover{
    color: #D5D5D5;
  }

  .navbar-default {
    background-color:#118489;
    font-family: 'Antic Slab', serif;
   }

   .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    font-family: 'Antic Slab', serif;
    color: #D5D5D5;
   }

   @media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
  }

  #header {
  padding:10px;
  }

  /*Github Button*/

    .btn-social{
      position:relative;
      margin-top:1.5px;
      padding-left:44px;
      text-align:left;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }

    .btn-social :first-child{
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      width:32px;
      line-height:34px;
      font-size:1.6em;
      text-align:center;
      border-right:1px solid rgba(0,0,0,0.2);
    }

    .btn-social.btn-lg{
      padding-left:61px;
    }

    .btn-social.btn-lg :first-child{
      line-height:45px;
      width:45px;
      font-size:1.8em;
    }

    .btn-social-icon{
      position:relative;
      padding-left:44px;
      text-align:left;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      height:34px;
      width:34px;
      padding-left:0;
      padding-right:0;
    }

    .btn-social-icon :first-child{
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      width:32px;
      line-height:34px;
      font-size:1.6em;
      text-align:center;
      border-right:1px solid rgba(0,0,0,0.2)
    }

    .btn-social-icon.btn-lg{
      padding-left:61px;
    }

    .btn-social-icon.btn-lg :first-child{
      line-height:45px;
      width:45px;
      font-size:1.8em;
    }

    .btn-social-icon :first-child{
      border:none;
      text-align:center;
      width:100% !important
    }

    .btn-social-icon.btn-lg{
      height:45px;
      width:45px;
      padding-left:0;
      padding-right:0;
    }

    .btn-github{
      color:#fff;
      background-color:#444;
      border-color:rgba(0,0,0,0.2);
    }

    .btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{
      color:#fff;
      background-color:#303030;
      border-color:rgba(0,0,0,0.2);
    }

    .btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{
      background-image:none;
    }

    .btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{
      background-color:#444;
      border-color:rgba(0,0,0,0.2);
    }

/*User Profile*/

  /* Profile Container */
    .profile {
      margin: 20px 0;

    }

  /* Profile Sidebar */
    .profile-sidebar {
      padding: 20px 0 10px 0;
      background: #fff;
      margin-top:50px;
    }

    /*Profile Pic*/
      .profile-userpic img {
          width: 100px;
          height: 100px;
          max-width: 100px;
          max-height: 100px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255,255,255,0.5);
          margin-left: 25%;
      }

    /*User Name/Preferences*/

      .profile-usertitle {
        text-align: center;
        margin-top: 20px;
      }

      .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
      }

      .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      
    /*Menu*/
      .profile-usermenu {
        margin-top: 30px;
      }

      .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
      }

      .profile-usermenu ul li:last-child {
        border-bottom: none;
      }

      .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
      }

      .profile-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
      }

      .profile-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
      }

      .profile-usermenu ul li.active {
        border-bottom: none;
      }

      .profile-usermenu ul li.active a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
      }

  /* Profile Content */
    .profile-content {
      padding: 20px;
      background: #fff;
      margin-top: 50px;
    }

    #current-project{
      height: 200px;
    }

    #queue{
      height: auto;
      margin-bottom: 30%;
    }

/*Footer */

  #footer {
  background-color: #118489;
  color:white;
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
}

/*Edit User Profile, Edit Project, User Project Invite*/

  .form-container{
    margin-top:5%;
    color: white;
    opacity: .7;
    margin-bottom: 5%;
  }

  .title{
    color: white;
    margin-top: 10%;
    text-align: center;
  }

  #footnote{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5%;
  }

  .button-container{
    margin-bottom: 30px;
  }

/*Client Form*/

  .navbar-margin{
    margin-top: 60px;
  }

  .form-font{
    color:black;
    
  }

/*Admin Portal*/

  .admin{
    margin-top: 70px;
  }

/*Banner Project Invite*/

  #alert-notification{
    margin-top:90px;
    text-align:center;
    max-width: 700px;
    margin-left: 26%;
    margin-bottom:-30px;
  }



